altair
anywidget
beartype
boto3
bs4
dbt-duckdb
duckdb-engine
geopandas
great_tables
ipykernel
ipywidgets
jupyter
jupyter-ai
jupyterlab
jupysql
langchain-anthropic
lightning
matplotlib
mosaic-widget
numpy
openpyxl
pandas
pdfplumber
pip-tools
playwright
psutil
pyarrow
python-dotenv
pyzmq
ruff
seaborn
seedir
sqlfluff
tabulate
tqdm
vega_datasets
